{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}

 <div class="soustitre"> <h2>Œuvres</h2> </div>

        <div class="selecto">
            <select name="format" id="format">
              <option selected disabled>Trier</option>
              <option value="pdf">Nouveautés</option>
              <option value="txt">Prix croissant</option>
              <option value="epub">Prix décroissant</option>
              <option value="fb2">Promo</option>
            </select>
        </div>
        
          <div class="card-container">
           
        <div class="menu-card">
            <a href="produit.html">
            <img src="img/art.png" alt="menu picture">
            <div class="blocktext">
            <p>Affiche cartographie représentant Istanbul</p>
            <p>Alcatela</p>
            <p>79,99€</p>
                </div>
            </a>
            <div class="blocktext2">
            <i onclick="myFunction(this)" class="fa-regular fa-heart"></i>
            <input type="button" value="Ajouter au panier"/>
        
            </div>
        
        

        </div>
    
        
    
    
        <div class="menu-card">
            <img src="img/art.png" alt="menu picture">
            <div class="blocktext">
            <p>Affiche cartographie représentant Istanbul</p>
            <p>Alcatela</p>
            <p>79,99€</p>
            <div class="blocktext2">
            <i onclick="myFunction(this)" class="fa-regular fa-heart"></i>
            <input type="button" value="Ajouter au panier"/>
            </div>
        
        </div>
        </div>
        <div class="menu-card">
            <img src="img/art.png" alt="menu picture">
            <div class="blocktext">
            <p>Affiche cartographie représentant Istanbul</p>
            <p>Alcatela</p>
            <p>79,99€</p>
            <div class="blocktext2">
            <i onclick="myFunction(this)" class="fa-regular fa-heart"></i>
            <input type="button" value="Ajouter au panier"/>
            </div>
        
        </div>
        </div>
        <div class="menu-card">
            <img src="img/art.png" alt="menu picture">
            <div class="blocktext">
            <p>Affiche cartographie représentant Istanbul</p>
            <p>Alcatela</p>
            <p>79,99€</p>
            <div class="blocktext2">
            <i onclick="myFunction(this)" class="fa-regular fa-heart"></i>
            <input type="button" value="Ajouter au panier"/>
            </div>
        
        </div>
        </div>
        <div class="menu-card">
            <img src="img/art.png" alt="menu picture">
            <div class="blocktext">
            <p>Affiche cartographie représentant Istanbul</p>
            <p>Alcatela</p>
            <p>79,99€</p>
            <div class="blocktext2">
                <i onclick="myFunction(this)" class="fa-regular fa-heart"></i>
            <input type="button" value="Ajouter au panier"/>
            </div>
        
        </div>
        </div>
        <div class="menu-card">
            <img src="img/art.png" alt="menu picture">
            <div class="blocktext">
            <p>Affiche cartographie représentant Istanbul</p>
            <p>Alcatela</p>
            <p>79,99€</p>
            <div class="blocktext2">
                <i onclick="myFunction(this)" class="fa-regular fa-heart"></i>
            <input type="button" value="Ajouter au panier"/>
            </div>
        
        </div>
        </div>
        <div class="menu-card">
            <img src="img/art.png" alt="menu picture">
            <div class="blocktext">
            <p>Affiche cartographie représentant Istanbul</p>
            <p>Alcatela</p>
            <p>79,99€</p>
            <div class="blocktext2">
                <i onclick="myFunction(this)" class="fa-regular fa-heart"></i>
            <input type="button" value="Ajouter au panier"/>
            </div>
        
        </div>
        </div>
        <div class="menu-card">
            <img src="img/art.png" alt="menu picture">
            <div class="blocktext">
            <p>Affiche cartographie représentant Istanbul</p>
            <p>Alcatela</p>
            <p>79,99€</p>
            <div class="blocktext2">
                <i onclick="myFunction(this)" class="fa-regular fa-heart"></i>
            <input type="button" value="Ajouter au panier"/>
            </div>
        
        </div>
        </div>
        <div class="menu-card">
            <img src="img/art.png" alt="menu picture">
            <div class="blocktext">
            <p>Affiche cartographie représentant Istanbul</p>
            <p>Alcatela</p>
            <p>79,99€</p>
            <div class="blocktext2">
                <i onclick="myFunction(this)" class="fa-regular fa-heart"></i>
            <input type="button" value="Ajouter au panier"/>
            </div>
        
        </div>
        </div>
    </div>

{% endblock %}
